# Environment Variables

# Your database credentials
DATABASE_URL=""

# Your API keys
API_KEY=""

# Example secret key
SECRET_KEY=""

# Email service configuration
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USE_TLS=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
